* {
    box-sizing:border-box;
}
body, html {
    background:darkgray;
}
header {
    width:100%;
    border:3px double gray;
    margin:20px;
    padding:10px;
}
header h1 {
    font-family:'Arial','Helvetica',sans-serif;
    font-size:2em;
}
header p {
    font-size:1em;
}
.container {
    display:flex;
    align-items:flex-start;
}
 .gallery {
     flex-direction:row;
     flex-wrap:wrap;
 }
 .gallery img {
     padding:10px;
     border-radius:15px;
 }
 /* .grid {
     display:grid;
     grid-template-columns: 20% 20% 20% 20% 20%
     grid-template-rows: 50px 50px 50px 50px;
     grid-gap:10px;
 }
 .photo {
     grid-row-end:span 2;
 } */
@media only screen 
and (min-device-width: 320px)
and (max-device-width:768px) {
    .container {
        display:flex;
        flex-wrap:wrap;
        justify-content:center;

    }
    .container header {
        width:100%;
    }
}